/* CSS for project and publication pages */
* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
		font-family: sans-serif;
		font-size: 16px;
		min-height: 100vh;
}


.Right_PI,#Metrics,#menuPI,.profile_text, #PI_name, .profile h5, #description,#PI_side,.menu, .affiliation_index, address, #footer p, #body_profilePI, #body_profile{
	-webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
	 -moz-animation: fadein .5s; /* Firefox < 16 */
		-ms-animation: fadein .5s; /* Internet Explorer */
		 -o-animation: fadein .5s; /* Opera < 12.1 */
				animation: fadein .5s;
}


	@keyframes fadein {
		from { opacity: 0.5; }
		to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadein {
		from { opacity: 0.5; }
		to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
		from { opacity: 0.5; }
		to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
		from { opacity: 0.5; }
		to   { opacity: 1; }
	}

	@import url("https://fonts.googleapis.com/css?family=Montserrat");



/*sliding bar*/
section{
	  background:#7da0d9ff;
	  height:2px;
	  position:relative;
	  transform-origin:right;
	  animation: grow .2s forwards;
	}
.wipe_right{
	padding-top:1em;
}
	@keyframes grow {
	  from {
	    width:0px;
	  }
	  to {
	    width:100%;
	  }
	}
	/*section {
	  position: relative;
	  width: 100%;
		height: 5px;
	  padding: 0;
	  transition: all 1s;
	}
	section:after {
	  position: absolute;
	  z-index: 9;
	  content: "";
	  transition: all 1s;
	}
	section.wipe-down:after, section.wipe-up:after {
	  left: 0;
	  width: 100%;
	  height: 0;
	}
	section.wipe-left:after, section.wipe-right:after {
	  top: 0;
	  width: 0;
	  height: 100%;
	}
	section.wipe-down {
	  background-color: #7da0d9ff;
	}
	section.wipe-down:after {
	  top: 0;
	  background-color: #7da0d9ff;
	}
	section.wipe-left {
	  background-color: #7da0d9ff;
	}
	section.wipe-left:after {
	  right: 0;
	  background-color: #7da0d9ff;
	}
	section.wipe-right {
	  background-color: white;
	}
	section.wipe-right:after {
	  left: 0;
	  background-color: #7da0d9ff;
	}
	section.wipe-up {
	  background-color: #7da0d9ff;
	}
	section.wipe-up:after {
	  bottom: 0;
	  background-color: #7da0d9ff;
	}
	section:hover:after {
	  width: 100%;
	  height: 100%;
	}*/
