

	/* Basic styling */
	* {
	    box-sizing: border-box;
	    padding: 0;
	    margin: 0;
	}
	main {
		display: flex;
		justify-content: center;
		height:100%;
		overflow-y: scroll;
	}
	body {
	    font-family: sans-serif;
	    font-size: 16px;
			min-height: 100vh;
	}
	nav {
	    background:#7da0d9ff;
	    padding: 0 10px;
			height: 15vh;
	}
	a {
	   /* color: white; */
	    text-decoration: none;
	}

	p {
		padding: .2em .4em;
	}
	h1 {
		padding: .5em;
	}

	/* Footer */

	footer {
		background:#7da0d9ff;
	  display: flex;
		height: 10vh;
		padding: 0 .4em;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}
	/*Menu*/

	.menu,
	.submenu {
	    list-style-type: none;
	}
	.logo {
	    font-size: 20px;
	    padding: 7.5px 10px 7.5px 0;
	}
	.item {
	    padding: 10px;
	}
	.item.button {
	    padding: 9px 5px;
	}
	.item:not(.button) a:hover,
	.item a:hover::after {
	    color: #ccc;
	}



/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #7da0d9ff solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #7da0d9ff;
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background:#7da0d9ff;
        border: 1px royalblue solid;
    }
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #7da0d9ff solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}
/* Desktop menu */
@media all and (min-width: 960px) {
	.menu {
			align-items: flex-start;
			flex-wrap: nowrap;
			background: none;
			align-items: center;
			font-size: 1.3em;
			padding-top:1.8em;
			width: 100%;
	}
	.logo {
			order: 0;
	}
	.item {
			order: 1;
			position: relative;
			display: block;
			width: auto;
	}
	.button {
			order: 2;
	}
	.submenu-active .submenu {
			display: block;
			position: absolute;
			left: 0;
			top: 68px;
			background:#7da0d9ff;
		}
	.toggle {
			display: none;
	}
	.submenu-active {
			border-radius: 0;
	}
} */



nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

nav li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */

nav li > a:only-child:after { content: ''; }

nav ul li a {
  padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:#7da0d9ff;
  float:left;
}

nav ul li ul li {
  width:100%;
	border-bottom:1px solid rgba(255,255,255,.3);

}

nav ul li:hover ul {
  display:block;
}

#body_profile {
	background: white;
	padding:2em 2em 0 2em;
	flex: 1 1 60%;
	order: 2;
	text-align: justify;
	height: 75vh;
	max-width: 900px;
	}
#body_profile p {
	padding: .5em 0 0 0
}
.staff {
	display:flex;
	max-height:20vh;
	padding: 1em 0 0 0;
	flex-direction: row;
	max-width:100%;
}
.staff_picture{
	max-width:100px;
	max-height:100px;
}
.staff_text ul{
	padding: 0 0 0 1em;
	max-width:100%;
	max-height:100%;
	list-style: none;
}
#background_space{
	border-bottom: .1px dashed gray;
	border-spacing: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#project-block{
	padding:0 0 1em 0;
}
#background_space_n{
	padding-bottom: 2em;
}
#body_profile h3{
		padding: 0 0 1em 0;
		text-align:left;
	}
#body_profile h4{
		padding: 1em 0 0 0;
		text-align:left;
}

#PIs {
	padding: .3em 0 .3em 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
}
#PIs img{
	padding: .3em 0 .3em 0;
	text-align:center;
}
#PIs h4{
	text-align:center;
}
#PI_1 {
	text-align: center;
	padding-right:2em;
}
#PI_1 div{
	padding: 1em 0 1em 0;
}
#PI_2 {
	text-align: center;
	padding-left:2em;
}
#PI_2 div{
	padding: 1em 0 1em 0;
}
#PI_side {
	padding: .3em 0 .3em 0;
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
	box-sizing: border-box;
}
#PI_side img{
	padding: .3em 0 .3em 0;
	max-width:100px;
	max-height:100px;
	text-align:center;
}
#PI_side h5{
	text-align:center;
}
#left_PI {
	background: white;
	flex: 1 1 30%;
	order: 1;
	padding: .1em 0 1em 8em;
	text-align: center;
	max-width: 350px;
}
#navigation_left_PI {
	background: white;
	flex: 1 1 30%;
	order: 1;
	padding: .1em 0 1em 10em;
	text-align: center;
	max-width: 400px;
}
#navigation_left_PI h4{
	padding:.5em 0 1em 0;
}
#description{
	text-align:justify;
	font-size:.9em;
	width:100%;
	max-width:100%;
}
#left_bar{
		padding-top:2em;
		padding-left:1em;
		text-align: left;
		list-style-type: none;
		font-size: 1em;
}
#left_bar li{
	margin: 0 10px 10px 0;
}
#affiliation{
	padding: 1em 0 0 0;
}

#box_right {
	background: white;
	flex: 1 1 30%;
	order: 2;
	padding: 2em 8em 1em 1em;
	text-align: center;
	max-width: 350px;
}

#box_right p{
	text-align: center;
}

#box_right h3{
	padding: .5em 0 .5em 0;
	text-align:left;
}
.box_p img{
	max-width:120px;
	max-height:120px;
	padding: .3em 0 .3em 0;
}

#container_affiliations {
	height:300px;
}
#container_partners {
	max-height:70vh;
	max-width:100%
	padding: .3em 0 .3em 0;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}
.box_a img{
	max-width:150px;
	max-height:150px;
	padding: 1em 0 0 0;
}
.box_c{
	width: 40%;
}

nav a{
	color: white;
}

.profile{
	float: left;
	width: 100%;
	padding-top: 2em;
	max-width:200px;
	max-height:600px;
}
.profile h3{
	text-align:center;
	padding: .5em 0 0 0;
}
.profile h5{
	text-align:center;
	padding:.5em 0 1em 0;
}
#picture{
	border-radius: 50%;
	width:100%;
	height:100%;
}
.picture_pi{
	border-radius: 50%;
	max-width:100px;
	max-width:100px;
}
#picture_hair{
	border-radius: 50%;
	width:70%;
	height:70%;
}
#profile_social{
	list-style-type: none;
	padding:1em 0 1em 0;
	text-align: left;
	margin: 0 10px 10px 0;

}
#profile_social li{
	margin: 0 .5em .5em 0;
}
}
#profile_social li a {
  display:inline-block;
  color:black;
  text-decoration:none;
	font-family: arial;
	font-size:1em;
}
#profile_social li a:link {
	color:black;
}
#profile_social li a:visited {
	color:black;
}
#profile_social li a:hover {
	background-color:#7da0d9ff;
	color:white;
}

.icons_sm {
	max-height: 20px;
	max-width: 20px;
}

.Right_PI{
		text-align: left;
		font-size: 1em;
		padding-left:1em;
}
.Right_PI li{
	margin: 0 .5em .5em 0;
}
#menuPI{
	list-style: none;
	text-align:left;
}
#dashed_line{
	border-top: 2px solid #7da0d9ff;
	padding-bottom:0;
}
#menuPI li a {
  display:inline-block;
  color:black;
  text-decoration:none;
	font-family: arial;
	font-size:1em;
}

#menuPI li a:hover {
	background-color:#7da0d9ff;
	color:white;
}
#Metrics li{
	text-align: left;
	font-size: 1em;
	list-style: none;
	margin: 0 .5em .5em 0;
}

.sublist{
	padding-left:1em;
	list-style-type: square;
	color:grey;
}
li img{
	vertical-align:middle
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
