/* CSS for project and publication pages */

/*h4{
	padding:1em 0 0 0
}*/
#project-date{
	padding:1em 0 .5em 0
}
#project-descriptor {
	padding: 1em 0 0 0;
	list-style-type: none;
}

#project-descriptor li{
	padding: .3em 0 0 0;
}

#project-title a:link {
	color:#666666ff;
}
#project-title a:visited {
	color:#666666ff;
}
#project-title a:hover {
	background-color:#7da0d9ff;
	color:white;
}
#body_p{
	padding:0 0 1em 0;
}
.box_p{
	padding:.5em .5em .5em .5em;
}

#opportunities{
	padding:0 0 0 0;
}
#project-block{
	padding: 1em 0 0 0;
}
.staff_half{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.staff_size{
	width:50%;
}
#collaborators_body{
	display:flex;
	flex-direction: row;
	justify-content: center;
	min-width:50vw;
	max-width:70vw;
	max-height:75vh;
}
#collaborators_text{
	align-items: flex-start;
}
#collaborators_text h4{
	padding: 0 0 1em 0;
}

.collaborators_half{
	display:flex;
	flex-direction: column;
	justify-content: start;
	align-content: flex-start;
	width:50%;
	max-width:50%;
}
.collaborators_half h4{
	padding: 0 0 1em 0;
}
.container_partners {
	padding: .3em 1em .3em 1em;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width:auto;
}

.container_partners h4{
	padding: 0 0 1em 0;
}
#collaborators_side{
	width:40%;

}
#world_map img{
	max-width:100%;

}
.collaborators_logo {
	max-height:auto;
	max-width:auto;
	padding: .3em .5em .3em .5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#box_right_collaborators {
	background: white;
	flex: 1 1 30%;
	order: 2;
	padding: 2em 6em 0 2em;
	text-align: center;
	max-width: 350px;
	height: 100%;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
}
#div_collaborators{
	display: none;
}
#country_map{
	min-height:200px;
	max-height:200px;
	padding: 0 0 1em 0;
}
#box_right_collaborators ul{
	text-align: left;
	list-style-type: none;
}
#box_right_collaborators ul li{
	padding: .5em 0 .5em 0;
}
#box_right_collaborators img{
	padding: 0 0 1em 0;
	max-width:150px;
	max-height:150px;
}
#box_right_collaborators h4{
	padding: 0 0 1em 0;
	text-align: left;
}
#TCD_right, #UCC_right, #Teagasc_right, #Ulster_right, #Embrapa_right, #Cerela_right, #Tohoku_right{
	display:none;
	}
#TCD_text, #UCC_text, #Teagasc_text, #Ulster_text, #Embrapa_text, #Cerela_text, #Tohoku_text{
	display:none;
	}

	#TCD_text p, #UCC_text p, #Teagasc_text p, #Ulster_text p, #Embrapa_text p, #Cerela_text p, #Tohoku_text p #TCD_right li, #UCC_right li, #Teagasc_right li, #Ulster_right li, #Embrapa_right li, #Cerela_right li, #Tohoku_right li{
		-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
		 -moz-animation: fadein 1s; /* Firefox < 16 */
			-ms-animation: fadein 1s; /* Internet Explorer */
			 -o-animation: fadein 1s; /* Opera < 12.1 */
					animation: fadein 1s;
	}


		@keyframes fadein {
			from { opacity: 0.5; }
			to   { opacity: 1; }
		}

		/* Firefox < 16 */
		@-moz-keyframes fadein {
			from { opacity: 0.5; }
			to   { opacity: 1; }
		}

		/* Safari, Chrome and Opera > 12.1 */
		@-webkit-keyframes fadein {
			from { opacity: 0.5; }
			to   { opacity: 1; }
		}

		/* Internet Explorer */
		@-ms-keyframes fadein {
			from { opacity: 0.5; }
			to   { opacity: 1; }
		}

		@import url("https://fonts.googleapis.com/css?family=Montserrat");
